<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>DCSC</title>
		<meta name="description" content="The Computer Science Club at UC Davis">
		<meta name="keywords" content="dcsc, davis, ucd, computer science, club">

    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600|Montserrat:200,300,400" rel="stylesheet">

		<link rel="stylesheet" href="assets/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome/css/font-awesome.min.css">


    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/slick-theme.css">

    <link rel="stylesheet" href="assets/css/helpers.css">
    <link rel="stylesheet" href="assets/css/style.css">
	</head>
	<body data-spy="scroll" data-target="#pb-navbar" data-offset="200">

    <nav class="navbar navbar-expand-lg navbar-dark pb_navbar pb_scrolled-light" id="pb-navbar">
      <div class="container">
        <a class="navbar-brand" href="/">DCSC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-navbar" aria-controls="probootstrap-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span><i class="ion-navicon"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="probootstrap-navbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="#section-home">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#section-about">About</a></li>
            <li class="nav-item"><a class="nav-link" href="#section-membership">Membership</a></li>
            <li class="nav-item"><a class="nav-link" href="#section-upcoming-events">Upcoming Events</a></li>
            <li class="nav-item"><a class="nav-link" href="#section-officers">Officers</a></li>
            <li class="nav-item"><a class="nav-link" href="#section-contact">Contact Us</a></li>
            <li class="nav-item"><a class="nav-link" href="#section-members">Members</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- END nav -->

    <section class="pb_cover_v1 text-left cover-bg-black cover-bg-opacity-4" style="background-image: url(assets/images/1900x1200_img_7.jpg)" id="section-home">
      <div class="container">
        <div class="row align-items-center justify-content-end">
          <div class="col-md-6  order-md-1">

            <h2 class="heading mb-3">The Davis Computer Science Club</h2>
            <div class="sub-heading"><p class="mb-5">We cultivate the professional development of our members and connect them with other passionate peers</p>
            <p><a href="#section-contact" role="button" class="btn smoothscroll pb_outline-light btn-xl pb_font-13 p-4 rounded-0 pb_letter-spacing-2">Learn More</a></p>
            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- END section -->


    <section class="pb_section pb_section_v1" data-section="about" id="section-about">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 pr-md-5 pr-sm-0">
            <h2 class="mt-0 heading-border-top mb-3 font-weight-normal">Who We Are</h2>
            <p>The Davis Computer Science Club (DCSC) organizes and connects UC Davis students interested in the field of computer science. We cultivate the professional development of our members and augment their education with practical skills and projects.</p>
            <p>We strive to provide a fun and supportive community through our weekly events; some of our past events have been Hack-A-Website, Courses Preview, Land That Internship, and Intro to Deep Learning.</p>
          </div>
          <div class="col-lg-7">
            <div class="images">
              <img class="img1 img-fluid" src="assets/images/600x450_img_2.jpg" alt="">
              <img class="img2" src="assets/images/800x500_img_1.jpg" alt="">
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- END section -->


    <section class="pb_section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md">
            <div class="media pb_media_v2 d-block text-center mb-3">
              <div class="icon border border-icon rounded-circle d-block mr-3 display-4 mx-auto mb-4"><i class="flaticon text-icon fa fa-graduation-cap"></i></div>
              <div class="media-body">
                <h3 class="mt-0 pb_font-20">Workshops</h3>
                <p>Our club hosts a variety workshops each quarter ranging from interview preparation to ios development.</p>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="media pb_media_v2 d-block text-center  mb-3">
              <div class="icon border border-icon rounded-circle d-flex mr-3 display-4 mx-auto mb-4"><i class="flaticon text-icon fa fa-handshake-o"></i></div>
              <div class="media-body">
                <h3 class="mt-0 pb_font-20">Socials</h3>
                <p>Come to socials for fun and conversation. Past events include De-Stressers, Byte/Bit, and the Demo Day showcase.</p>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="media pb_media_v2 d-block text-center  mb-3">
              <div class="icon border border-icon rounded-circle d-flex mr-3 display-4 mx-auto mb-4"><i class="flaticon text-icon fa fa-users"></i></div>
              <div class="media-body">
                <h3 class="mt-0 pb_font-20">Open to All</h3>
                <p>You don't have to be computer sicence major; we invite everyone who is interested in technology!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->

    <section class="pb_section" data-section="membership" id="section-membership">
      <div class="container">
        <div class="row justify-content-md-center text-center mb-5">
          <div class="col-lg-7">
            <h2 class="mt-0 heading-border-top font-weight-normal">Membership</h2>
            <p>Becoming a DCSC member is by no means required but helps support the clubs and gives you some cool perks like being listed further down on this page. To officially join, you simply need to pay $5 and attend at least 3 events; membership is on a per quarter basis.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-7">
            <div class="images right">
              <img class="img1 img-fluid" src="assets/images/600x450_img_2.jpg" alt="">
              <img class="img2" src="assets/images/800x500_img_1.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-5 pl-md-5 pl-sm-0">
            <div id="accordion" class="pb_accordion" data-children=".item">
							<div class="item">
								<a data-toggle="collapse" data-parent="#accordion" href="#attendAccordion" aria-expanded="true" aria-controls="attendAccordion" class="pb_font-18">Can I attend events without becoming a member?</a>
								<div id="attendAccordion" class="collapse show" role="tabpanel">
									<p><b>Yes!</b> Our events are always open to everyone regardless of membership status.</p>
								</div>
							</div>
              <div class="item">
                <a data-toggle="collapse" data-parent="#accordion" href="#payAccordion" aria-expanded="false" aria-controls="payAccordion" class="pb_font-18">Who/Where do I pay?</a>
                <div id="payAccordion" class="collapse" role="tabpanel">
                  <p>Dues must be must be paid <b>in-person</b> during any of our weekly events.</p>
                </div>
              </div>
              <div class="item">
                <a data-toggle="collapse" data-parent="#accordion" href="#finAccordion" aria-expanded="false" aria-controls="finAccordion" class="pb_font-18">I'm concerned about paying</a>
                <div id="finAccordion" class="collapse" role="tabpanel">
									<p>Anyone, regardless of official membership, can attend our events.</p>
									<p>If you have any financial burden, or feel like you cannot pay the due, please privately message Davis Computer Science Club on Facebook or come talk to us in-person!</p>
                </div>
              </div>
							<div class="item">
                <a data-toggle="collapse" data-parent="#accordion" href="#benfitAccordion" aria-expanded="false" aria-controls="benfitAccordion" class="pb_font-18">What do I get as a member?</a>
                <div id="benfitAccordion" class="collapse" role="tabpanel">
                  <p>Members help support the club but more importantly, you get to be included further down on this page (optional) with links to your website/LinkedIn/etc. Additional perks include stickers and more are coming soon!</p>
                </div>
              </div>
							<div class="item">
                <a data-toggle="collapse" data-parent="#accordion" href="#eventsAccordion" aria-expanded="false" aria-controls="eventsAccordion" class="pb_font-18">What events count?</a>
                <div id="eventsAccordion" class="collapse" role="tabpanel">
                  <p>All DCSC events count! Please note that this <b>excludes</b> review sessions and any other sub-clubs.</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- END section -->

    <section class="pb_section pb_bg-half" data-section="upcoming-events" id="section-upcoming-events">
      <div class="container">
        <div class="row justify-content-md-center text-center mb-5">
          <div class="col-lg-7">
            <h2 class="mt-0 heading-border-top font-weight-normal">Upcoming Events</h2>
            <p>We host events every week! Check out some of our upcoming events below.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">

            <div class="single-item pb_slide_v2">
              <div>
                <div class="d-lg-flex d-md-block slide_content">
                  <div class="pb_content-media" style="background-image: url(assets/images/1900x1200_img_4.jpg);"></div>
                  <div class="slide_content-text">
                    <h3 class="font-weight-normal mt-0 mb-4">Coding Conundrum</h3>
										<p>Event text will be pulled from facebook and go here.</p>
										<p>Lorem go to hizzle dolizzle ma nizzle amizzle, dang adipiscing elit. Nullizzle fo shizzle velizzle, gizzle volutpat, suscipit gangster, shizzlin dizzle vizzle, fizzle. Pellentesque eget funky fresh. Sizzle erizzle. Tellivizzle at dolizzle dapibus we gonna chung tempizzle shiz. Maurizzle pellentesque nibh et pot.</p>
                  </div>
                </div>
              </div>

              <div>
                <div class="d-lg-flex d-md-block slide_content">
									<div class="pb_content-media" style="background-image: url(assets/images/1900x1200_img_4.jpg);"></div>
                  <div class="slide_content-text">
                    <h3 class="font-weight-normal mt-0 mb-4">DCSC Event</h3>
										<p>Event text will be pulled from facebook and go here.</p>
										<p>Lorem go to hizzle dolizzle ma nizzle amizzle, dang adipiscing elit. Nullizzle fo shizzle velizzle, gizzle volutpat, suscipit gangster, shizzlin dizzle vizzle, fizzle. Pellentesque eget funky fresh. Sizzle erizzle. Tellivizzle at dolizzle dapibus we gonna chung tempizzle shiz. Maurizzle pellentesque nibh et pot.</p>
                  </div>
                </div>
              </div>

              <div>
                <div class="d-lg-flex d-md-block slide_content">
									<div class="pb_content-media" style="background-image: url(assets/images/1900x1200_img_4.jpg);"></div>
                  <div class="slide_content-text">
                    <h3 class="font-weight-normal mt-0 mb-4">DCSC Event</h3>
                    <p>Event text will be pulled from facebook and go here.</p>
										<p>Lorem go to hizzle dolizzle ma nizzle amizzle, dang adipiscing elit. Nullizzle fo shizzle velizzle, gizzle volutpat, suscipit gangster, shizzlin dizzle vizzle, fizzle. Pellentesque eget funky fresh. Sizzle erizzle. Tellivizzle at dolizzle dapibus we gonna chung tempizzle shiz. Maurizzle pellentesque nibh et pot.</p>
                  </div>
                </div>
              </div>

              <div>
                <div class="d-lg-flex d-md-block slide_content">
									<div class="pb_content-media" style="background-image: url(assets/images/1900x1200_img_4.jpg);"></div>
                  <div class="slide_content-text">
                    <h3 class="font-weight-normal mt-0 mb-4">DCSC Event</h3>
										<p>Event text will be pulled from facebook and go here.</p>
										<p>Lorem go to hizzle dolizzle ma nizzle amizzle, dang adipiscing elit. Nullizzle fo shizzle velizzle, gizzle volutpat, suscipit gangster, shizzlin dizzle vizzle, fizzle. Pellentesque eget funky fresh. Sizzle erizzle. Tellivizzle at dolizzle dapibus we gonna chung tempizzle shiz. Maurizzle pellentesque nibh et pot.</p>
                  </div>
                </div>
              </div>

              <div>
                <div class="d-lg-flex d-md-block slide_content">
									<div class="pb_content-media" style="background-image: url(assets/images/1900x1200_img_4.jpg);"></div>
                  <div class="slide_content-text">
                    <h3 class="font-weight-normal mt-0 mb-4">DCSC Event</h3>
										<p>Event text will be pulled from facebook and go here.</p>
										<p>Lorem go to hizzle dolizzle ma nizzle amizzle, dang adipiscing elit. Nullizzle fo shizzle velizzle, gizzle volutpat, suscipit gangster, shizzlin dizzle vizzle, fizzle. Pellentesque eget funky fresh. Sizzle erizzle. Tellivizzle at dolizzle dapibus we gonna chung tempizzle shiz. Maurizzle pellentesque nibh et pot.</p>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- END section -->

    <section class="pb_section bg-light bg-image with-overlay" data-section="officers" id="section-officers" style="background-image: url(assets/images/1900x1200_img_2.jpg);background-size: cover;">
      <div class="container-fluid">
        <div class="row justify-content-md-center text-center mb-5">
          <div class="col-lg-7">
            <h2 class="mt-0 heading-border-top light font-weight-normal text-white">DCSC Officers</h2>
            <p class="text-white">Our 2017-2018 Board</p>
          </div>
        </div>
        <div class="row officers-list">
          <div class="col">
            <div class="card text-center pb_card_v1 mb-4">
              <img class="card-img-top rounded-circle w-50 mx-auto" src="assets/images/generic.png" alt="Card image cap">
              <div class="card-body">
								<h4 class="card-title mt-0 mb-2">Officer</h4>
                <h6 class="card-subtitle mb-2">Title</h6>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-center pb_card_v1 mb-4">
              <img class="card-img-top rounded-circle w-50 mx-auto" src="assets/images/generic.png" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title mt-0 mb-2">Officer</h4>
                <h6 class="card-subtitle mb-2">Title</h6>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-center pb_card_v1 mb-4">
              <img class="card-img-top rounded-circle w-50 mx-auto" src="assets/images/generic.png" alt="Card image cap">
              <div class="card-body">
								<h4 class="card-title mt-0 mb-2">Officer</h4>
                <h6 class="card-subtitle mb-2">Title</h6>
              </div>
            </div>
          </div>
					<div class="col">
						<div class="card text-center pb_card_v1 mb-4">
							<img class="card-img-top rounded-circle w-50 mx-auto" src="assets/images/generic.png" alt="Card image cap">
							<div class="card-body">
								<h4 class="card-title mt-0 mb-2">Officer</h4>
								<h6 class="card-subtitle mb-2">Title</h6>
							</div>
						</div>
					</div>
				</div>
				<div class="row officers-list">
					<div class="col">
						<div class="card text-center pb_card_v1 mb-4">
							<img class="card-img-top rounded-circle w-50 mx-auto" src="assets/images/generic.png" alt="Card image cap">
							<div class="card-body">
								<h4 class="card-title mt-0 mb-2">Officer</h4>
								<h6 class="card-subtitle mb-2">Title</h6>
							</div>
						</div>
					</div>

					<div class="col">
            <div class="card text-center pb_card_v1 mb-4">
              <img class="card-img-top rounded-circle w-50 mx-auto" src="assets/images/generic.png" alt="Card image cap">
              <div class="card-body">
								<h4 class="card-title mt-0 mb-2">Officer</h4>
                <h6 class="card-subtitle mb-2">Title</h6>
              </div>
            </div>
          </div>
					<div class="col">
            <div class="card text-center pb_card_v1 mb-4">
              <img class="card-img-top rounded-circle w-50 mx-auto" src="assets/images/generic.png" alt="Card image cap">
              <div class="card-body">
								<h4 class="card-title mt-0 mb-2">Officer</h4>
                <h6 class="card-subtitle mb-2">Title</h6>
              </div>
            </div>
          </div>
					<div class="col">
            <div class="card text-center pb_card_v1 mb-4">
              <img class="card-img-top rounded-circle w-50 mx-auto" src="assets/images/generic.png" alt="Card image cap">
              <div class="card-body">
								<h4 class="card-title mt-0 mb-2">Officer</h4>
                <h6 class="card-subtitle mb-2">Title</h6>
              </div>
            </div>
          </div>
					<div class="col">
            <div class="card text-center pb_card_v1 mb-4">
              <img class="card-img-top rounded-circle w-50 mx-auto" src="assets/images/generic.png" alt="Card image cap">
              <div class="card-body">
								<h4 class="card-title mt-0 mb-2">Officer</h4>
                <h6 class="card-subtitle mb-2">Title</h6>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
		<!-- END section -->

    <section class="pb_section" data-section="contact" id="section-contact">
      <div class="container">

        <div class="row justify-content-md-center text-center mb-5">
          <div class="col-lg-7">
            <h2 class="mt-0 heading-border-top font-weight-normal">Get In Touch</h2>
            <p>The easiest way to contact us is directly through this form or the email listed below! You can also reach us through Facebook and of course, at our weekly meetings. Please do not contact individual officers directly without good reason.</p>
          </div>
        </div>


        <div class="row">
          <div class="col-md-8 pr-md-5 pr-sm-0 mb-4">
            <form action="#">
              <div class="row">
                <div class="col-md">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control p-3 rounded-0" id="name">
                  </div>
                </div>
                <div class="col-md">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control p-3 rounded-0" id="email">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="message">Message</label>
                <textarea cols="30" rows="10" class="form-control p-3 rounded-0" id="message"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" class="btn pb_outline-dark pb_font-13 pb_letter-spacing-2 p-3 rounded-0" value="Send Message">
              </div>
            </form>
          </div>
          <div class="col-md-4">
            <ul class="pb_contact_details_v1">
              <li>
                <span class="text-uppercase">Email</span>
                officers@daviscsclub.org
              </li>
              <li>
                <span class="text-uppercase">Facebook Page</span>
                <a href="https://www.facebook.com/daviscsclub/">facebook.com/daviscsclub/</a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </section>
    <!-- END section -->

    <footer class="pb_footer bg-light" role="contentinfo">
      <div class="container">
        <div class="row text-center">
          <div class="col">
            <ul class="list-inline">
              <li class="list-inline-item"><a href="https://www.facebook.com/daviscsclub/" class="p-2"><i class="fa fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="https://www.instagram.com/daviscsclub/" class="p-2"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <p class="pb_font-14">&copy; 2018 Davis Computer Science Club</a>
          </div>
        </div>
      </div>
    </footer>

    <!-- loader
    <div id="pb_loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#FDA04F"/></svg></div>
		-->

    <script src="assets/js/jquery.min.js"></script>

    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/slick.min.js"></script>

    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/jquery.easing.1.3.js"></script>

    <script src="assets/js/main.js"></script>
	</body>
</html>
